{% extends "base.html" %}
{% load static %}
{% block ng_app %}passbrain.app.dashboard{% endblock %}
{% block ng_controller %}DashboardController{% endblock %}
{% block content-header %}
<h1>
  Dashboard
  <small>Your secrets at a glance</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Dashboard</li>
</ol>
{% endblock %}
{% block content %}
{% verbatim %}
<div class="panel" ng-repeat="device in devices">
    <div class="panel-heading clearfix">
        <h3 class="panel-title">{{ device.name }}</h3>
    </div>
    <p class="well">{{ device.public_key }}</p>
</div>
{% endverbatim %}
{% endblock %}
{% block scripts %}
<script src="{% static "js/jsencrypt.js" %}"></script>
<script src="{% static "js/dashboard.js" %}"></script>
{% endblock %}
