{% extends "base.html" %}
{% load static %}
{% block content-header %}
<h1>
  Profile
  <small>User Settings and Information</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Profile</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-3">

    <!-- Profile Image -->
    <div class="box box-primary">
      <div class="box-body box-profile">
        <img class="profile-user-img img-responsive img-circle" src="{% static "dist/img/user4-128x128.jpg" %}" alt="User profile picture">
        <h3 class="profile-username text-center">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
        <p class="text-muted text-center">{{ request.user.username }}</p>
        <p class="text-muted text-center">{{ request.user.email }}</p>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Secrets</b> <a class="pull-right">{{ secrets.count }}</a>
          </li>
          <li class="list-group-item">
            <b>Devices</b> <a class="pull-right">{{ userdevices.count }}</a>
          </li>
        </ul>

        {% if user.trusts %}
        <p class="text-muted">
          <strong>Trusts</strong>
          <p>
            {% for trustuser in user.trustusers.all %}
            <span class="label label-{{ trustuser.get_status }}">{{ trustuser.trust }}</span>
            {% endfor %}
          </p>
        </p>
        {% endif %}
        <p class="text-muted">
          <strong>Groups</strong>
          <p>
            {% for group in groups %}
            {% if not group.is_hidden %}
            <span class="label label-{{ group.get_status }}">{{ group }}</span>
            {% endif %}
            {% endfor %}
          </p>
        </p>

        <a href="#" class="btn btn-primary btn-block"><b>Message</b></a>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>

  <div class="col-md-9">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
        <li><a href="#devices" data-toggle="tab">Devices</a></li>
      </ul>
      <div class="tab-content">
        <div class="active tab-pane" id="settings">
          <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            <div class="box-body">
            {% if error_message %}<p class="help-block"><strong>{{ error_message }}</strong></p>{% endif %}
              {% for field in form %}
              <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{% if field.errors %}<i class="fa fa-times-circle-o"></i> {% endif %}{{ field.label }}</label>
                <div class="col-sm-10">
                  {{ field }}
                  {% for error in  field.errors %}
                  <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}
              <div class="box-footer">
                <button class="btn btn-primary" id="submit">Submit</button>
              </div>
            </div>
          </form><!-- form -->
        </div><!-- /.tab-pane -->
        <div class="tab-pane" id="devices">
          <div class="box box-solid">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Name</th>
                  <th>Agent</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                {% for userdevice in userdevices %}
                <tr>
                  <td>{{ userdevice.name }}</td>
                  <td>{{ userdevice.agent }}</td>
                  <td>
                    {% if userdevice.id == device.id %}
                    <span class="label label-info">Current</span>
                    {% elif not userdevice.is_active %}
                    <span class="label label-danger">Deleted</span>
                    {% elif not userdevice.is_authorized %}
                    <span class="label label-warning">Unauthorized</span>
                    {% else %}
                    <span class="label label-success">Active</span>
                    {% endif %}
                  </td>
                  <td>
                    {% if userdevice.id == device.id %}
                    <a href="/device/" class="btn btn-sm btn-primary">Create Recovery</a>
                    {% elif not userdevice.is_active %}
                    {% elif not userdevice.is_authorized %}
                    <a href="#" class="btn btn-sm btn-success device-authorize" data-device-id="{{ userdevice.id }}">Authorize</a>
                    {% else %}
                    <a href="#" class="btn btn-sm btn-danger device-deauthorize" data-device-id="{{ userdevice.id }}">Deauthorize</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="overlay" style="display: none" id="device-spinner">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
          </div><!-- /.box -->
        </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->
    </div><!-- /.nav-tabs-custom -->
  </div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "js/csrf.js" %}"></script>
<script src="/static/js/jsencrypt.js"></script>
<script src="/static/js/aes.js"></script>
<script src="/static/js/secrets.js"></script>
<script src="/static/js/csrf.js"></script>
<script type="text/javascript">
function authorizeQueue(step, device, secrets, secretvalue) {
  switch(step) {
    case 'start':
      $.ajax({
        type: 'PATCH',
        url: '/api/userdevices/' + device.id + '/',
        dataType: 'json',
        data: {'is_authorized': true},
        success: function(data, status, jqXHR) {
          authorizeQueue('get_secrets', data);
        },
        error: function(jqXHR, status) {
          alert('failed to authorize device');
          authorizeQueue('fail');
        }
      });
      break;
    case 'get_secrets':
      $.ajax({
        type: 'GET',
        url: '/api/secrets/?user=' + {{ request.user.id }},
        dataType: 'json',
        success: function(data, status, jqXHR) {
          authorizeQueue('get_secretvalues', device, data);
        },
        error: function(jqXHR, status) {
          alert('failed to look up secrets');
          authorizeQueue('fail');
        }
      });
      break;
    case 'get_secretvalues':
      if (secrets.length > 0) {
        var secret = secrets.pop();
        $.ajax({
          type: 'GET',
          url: '/api/secretvalues/?userdevice={{ device.id }}&secret=' + secret.id,
          dataType: 'json',
          success: function(data, status, jqXHR) {
            secretvalue = data[0];
            if (secretvalue !== null && secretvalue !== undefined) {
              authorizeQueue('post_secretvalue', device, secrets, secretvalue);
            } else {
              // skip this for now, but should probably throw an error
              // this is sort of an integrity fail, because it means this user
              // has no value themselves for this secret
              authorizeQueue('get_secretvalues', device, secrets);
            }
          },
          error: function(jqXHR, status) {
            alert('failed to look up secretvalue');
            authorizeQueue('fail');
          }
        });
      } else {
        authorizeQueue('finish');
      }
      break;
    case 'post_secretvalue':
      // Then we post the value for each device, until all are done
      var cipher = encryptSecret(
        decryptSecret(
          secretvalue.encrypted_value,localStorage['pk_u{{ request.user.id }}'],
          secretvalue.encrypted_key,
          secretvalue.encrypted_iv), device.public_key);

      // add the secret
      var newSecretvalue = {
        'secret': secretvalue.secret,
        'userdevice': device.url,
        'encrypted_key': cipher.key,
        'encrypted_iv': cipher.iv,
        'encrypted_value': cipher.value,
        'is_active': true
      };
      $.ajax({
        type: 'POST',
        url: '/api/secretvalues/',
        data: newSecretvalue,
        dataType: 'json',
        success: function(data, status, jqXHR) {
          if (secrets.length > 0) {
            // still more secrets, repeat
            authorizeQueue('get_secretvalues', device, secrets);
          } else {
            authorizeQueue('finish');
          }
        },
        error: function(jqXHR, status) {
          alert('failed to post secret value');
          authorizeQueue('fail');
        }
      });
      break;
    case 'finish':
      window.location.hash = '#nav-devices';
      window.location.reload(true);
      break;
    case 'fail':
      $("#device-spinner").hide();
      break;
    default:
      alert('Queue error');
      $("#device-spinner").hide();
      break;
  }
}
function deauthorizeQueue(step, device, secrets) {
  switch(step) {
    case 'start':
      $.ajax({
        type: 'PATCH',
        url: '/api/userdevices/' + device.id + '/',
        dataType: 'json',
        data: {'is_authorized': false},
        success: function(data, status, jqXHR) {
          deauthorizeQueue('finish', data);
        },
        error: function(jqXHR, status) {
          alert('failed to deauthorize device');
          deauthorizeQueue('fail', deviceID);
        }
      });
      break;
    case 'finish':
      window.location.hash = '#nav-devices';
      window.location.reload(true);
      break;
    case 'fail':
      $("#device-spinner").hide();
      break;
    default:
      alert('Queue error');
      $("#device-spinner").hide();
      break;
  }
}

$(function() {
  // Javascript to enable link to tab
  var url = document.location.toString();
  if (url.match('#nav-')) {
    $('.nav-tabs a[href="#' + url.split('#nav-')[1] + '"]').tab('show');
  } 

  $('.device-authorize').click(function(e) {
    $('#device-spinner').show();
    authorizeQueue('start', {'id': $(this).data('device-id')});
  });
  $('.device-deauthorize').click(function(e) {
    $('#device-spinner').show();
    deauthorizeQueue('start', {'id': $(this).data('device-id')});
  });
});
</script>
{% endblock %}
