{% extends "base.html" %}
{% block content-header %}
<h1>
  Sandbox
  <small>Free-form Keygen and Encryption</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">Sandbox</li>
</ol>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Online RSA Key Generator</h1></div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <label for="privkey">Private Key</label><br/>
            <small>
              <textarea id="privkey" rows="15" style="width:100%"></textarea>
            </small>
          </div>
          <div class="col-lg-6">
            <label for="pubkey">Public Key</label><br/>
            <small><textarea id="pubkey" rows="15" style="width:100%" readonly="readonly">{{ device.public_key }}</textarea></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>RSA Encryption Test</h3></div>
    <div class="panel-body">
      <div class="col-lg-5">
        <label for="input">Text to encrypt:</label><br/>
        <textarea id="input" name="input" style="width: 100%" rows="4">This is a test!</textarea>
      </div>
      <div class="col-lg-2">
        <label>&nbsp;</label><br/>
        <button id="execute" class="btn btn-primary">Encrypt / Decrypt</button>
      </div>
      <div class="col-lg-5">
        <label for="crypted">Encrypted:</label><br/>
        <textarea id="crypted" name="crypted" style="width: 100%" rows="4"></textarea>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/jsencrypt.js"></script>
<script type="text/javascript">
  $(function () {

    // Execute when they click the button.
    $('#execute').click(function () {

      // Create the encryption object.
      var crypt = new JSEncrypt();

      // Set the private.
      crypt.setPrivateKey($('#privkey').val());
      //return;
      // If no public key is set then set it here...
      var pubkey = $('#pubkey').val();
      if (!pubkey) {
        $('#pubkey').val(crypt.getPublicKey());
      }

      // Get the input and crypted values.
      var input = $('#input').val();
      var crypted = $('#crypted').val();

      // Alternate the values.
      if (input) {
        $('#crypted').val(crypt.encrypt(input));
        $('#input').val('');
      }
      else if (crypted) {
        var decrypted = crypt.decrypt(crypted);
        if (!decrypted)
          decrypted = 'This is a test!';
        $('#input').val(decrypted);
        $('#crypted').val('');
      }
    });

    $('#privkey').val(localStorage.privateKey);
  });
</script>
{% endblock %}
