{% extends "base.html" %}
{% block content-header %}
<h1>
  Secrets
  <small>All Secrets</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">All Secrets</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Responsive Hover Table</h3>

        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

            <div class="input-group-btn">
              <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody><tr>
            <th>Label</th>
            <th>Created</th>
            <th>Groups</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
          {% for secretvalue in secretvalues %}
          <tr>
            <td>{{ secretvalue.secret.label }}</td>
            <td>{{ secretvalue.secret.created }}</td>
            <td>
              {% for group in secretvalue.secret.groups.all %}
              <span class="label label-success">{{ group.name }}</span>
              {% endfor %}
            </td>
            <td id="value-{{ secretvalue.id }}">************</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-info btn-xs btn-decrypt" data-secretvalue-id="{{ secretvalue.id }}">Decrypt</button>
                <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Copy</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody></table>
      </div>
      <div class="overlay" style="display: none" id="spinner">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- /.box-body -->
    </div>
    <a href="/secret" class="btn btn-block btn-primary btn-lg">Add New</a>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/jsencrypt.js"></script>
<script src="/static/js/aes.js"></script>
<script type="text/javascript">
  function ajaxQueue(step, secretvalue) {
    switch(step) {
      case 'get_secretvalue':
        $.ajax({
          type: 'GET',
          url: '/api/secretvalues/' + secretvalue.id + '/',
          dataType: 'json',
          success: function(data, status, jqXHR) {
            secretvalue = data;
            ajaxQueue('finish', secretvalue);
          },
          error: function(jqXHR, status) {
            alert('failed to look up secretvalue');
            ajaxQueue('fail', userDevice, secret, secretValue);
          }
        });
        break;
      case 'finish':
        // Create the encryption object.
        var rsa = new JSEncrypt();

        // Set the private.
        rsa.setPrivateKey(localStorage['pk_u{{ request.user.id }}']);

        // Get the AES key
        var encrypted_key = secretvalue.encrypted_key;
        var encrypted_iv = secretvalue.encrypted_iv;
        var key = CryptoJS.enc.Hex.parse(rsa.decrypt(encrypted_key));
        var iv = CryptoJS.enc.Hex.parse(rsa.decrypt(encrypted_iv));

        // Get the input and crypted values.
        var encrypted_value = secretvalue.encrypted_value;
        $("#value-" + secretvalue.id).text(CryptoJS.AES.decrypt(encrypted_value, key, { iv: iv }).toString(CryptoJS.enc.Utf8));
        $("#spinner").hide();
        break;
      case 'fail':
        $("#spinner").hide();
        break;
      default:
        alert('Queue error');
        $("#spinner").hide();
        break;
    }
  }


  $(function () {
    $(".btn-decrypt").click(function(e) {
      $("#spinner").show();
      ajaxQueue('get_secretvalue', {'id': $(this).data('secretvalue-id')});
    });
  });
</script>
{% endblock %}
