{% extends "base.html" %}
{% block content-header %}
<h1>
  Secret
  <small>New Secret</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">New Secret</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">New Secret</h3></div>
      <form action="{% url 'secret_create' %}" method="post" role="form" class="form-horizontal">
        {% csrf_token %}
        <div class="box-body">
        {% if error_message %}<p class="help-block"><strong>{{ error_message }}</strong></p>{% endif %}
          {% for field in form %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{% if field.errors %}<i class="fa fa-times-circle-o"></i> {% endif %}{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
              {% for error in  field.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <div class="box-footer">
            <input type="submit" value="Submit" id="submit" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/jsencrypt.js"></script>
<script src="/static/js/aes.js"></script>
<script type="text/javascript">
  var key = CryptoJS.lib.WordArray.random(32);
  var iv = CryptoJS.lib.WordArray.random(32);
  $(function () {
    // Execute when they click the button.
    $('#{{ form.value.id_for_label }}').on('input', function (e) {

/*
      // Create the encryption object.
      var crypt = new JSEncrypt();

      // Set the private.
      crypt.setPrivateKey(localStorage.privateKey);

      // Get the input and crypted values.
      var input = $('#{{ form.value.id_for_label }}').val();

      // Alternate the values.
      $('#{{ form.encrypted_value.id_for_label }}').val(crypt.encrypt(input));
*/
      var encrypted = CryptoJS.AES.encrypt($('#{{ form.value.id_for_label }}').val(), key, { iv: iv });
      $('#{{ form.encrypted_value.id_for_label }}').val(encrypted);
    });
  });
</script>
{% endblock %}
