{% extends "base.html" %}
{% block content-header %}
<h1>
  Secret
  <small>New Secret</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">New Secret</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">New Secret</h3></div>
      <div class="form-horizontal">
        <div class="box-body">
        {% if error_message %}<p class="help-block"><strong>{{ error_message }}</strong></p>{% endif %}
          {% for field in form %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{% if field.errors %}<i class="fa fa-times-circle-o"></i> {% endif %}{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
              {% for error in  field.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <div class="box-footer">
            <button class="btn btn-primary" id="submit">Submit</button>
          </div>
        </div>
      </div><!-- form -->
      <div class="overlay" style="display: none" id="spinner">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div><!-- box -->
  </div><!-- col -->
</div><!-- row -->
{% endblock %}
{% block scripts %}
<script src="/static/js/jsencrypt.js"></script>
<script src="/static/js/aes.js"></script>
<script src="/static/js/csrf.js"></script>
<script type="text/javascript">
  function ajaxQueue(step, userDevice, secret, secretValue) {
    switch(step) {
      case 'start':
        $.ajax({
          type: 'GET',
          url: '/api/userdevices/{{ device.id }}/',
          dataType: 'json',
          success: function(data, status, jqXHR) {
            userDevice = data;
            secretValue.userdevice = userDevice.url;
            ajaxQueue('post_secret', userDevice, secret, secretValue);
          },
          error: function(jqXHR, status) {
            alert('failed to look up device');
            ajaxQueue('fail', userDevice, secret, secretValue);
          }
        });
        break;
      case 'post_secret':
        $.ajax({
          type: 'POST',
          url: '/api/secrets/',
          data: secret,
          dataType: 'json',
          success: function(data, status, jqXHR) {
            secret = data;
            secretValue.secret = secret.url;
            ajaxQueue('post_secretvalue', userDevice, secret, secretValue);
          },
          error: function(jqXHR, status) {
            alert('failed to post secret');
            ajaxQueue('fail', userDevice, secret, secretValue);
          }
        });
        break;
      case 'post_secretvalue':
        $.ajax({
          type: 'POST',
          url: '/api/secretvalues/',
          data: secretValue,
          dataType: 'json',
          success: function(data, status, jqXHR) {
            ajaxQueue('finish', userDevice, secret, secretValue);
          },
          error: function(jqXHR, status) {
            alert('failed to post secret');
            ajaxQueue('fail', userDevice, secret, secretValue);
          }
        });
        break;
      case 'finish':
        window.location.replace('secret/' + secret.id);
        break;
      case 'fail':
        $("#spinner").hide();
        break;
      default:
        alert('Queue error');
        $("#spinner").hide();
        break;
    }
  }
  $(function () {

    $("#submit").click(function(e) {
      $("#spinner").show();

      // Create the encryption object.
      var rsa = new JSEncrypt();

      // Set the private.
      rsa.setPrivateKey(localStorage['pk_u{{ request.user.id }}']);

      // Generate the AES key
      var key = CryptoJS.lib.WordArray.random(32);
      var iv = CryptoJS.lib.WordArray.random(32);
      var encrypted_key = rsa.encrypt(CryptoJS.enc.Hex.stringify(key));
      var encrypted_iv = rsa.encrypt(CryptoJS.enc.Hex.stringify(iv));

      // Get the input and crypted values.
      var encrypted_value = CryptoJS.AES.encrypt($('#{{ form.value.id_for_label }}').val(), key, { iv: iv }).toString();

      // add the secret
      var userDevice = {};
      var secret = { 'label': $('#{{ form.label.id_for_label }}').val() };
      var secretValue = {
        'secret': null,
        'userdevice': null,
        'encrypted_key': encrypted_key,
        'encrypted_iv': encrypted_iv,
        'encrypted_value': encrypted_value,
        'is_active': true
      };
      ajaxQueue('start', userDevice, secret, secretValue);
    });
  });
</script>
{% endblock %}
