{% extends "base.html" %}
{% block content-header %}
<h1>
  Secret
  <small>New Secret</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">New Secret</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">New Secret</h3></div>
      <div class="form-horizontal">
        <div class="box-body">
        {% if error_message %}<p class="help-block"><strong>{{ error_message }}</strong></p>{% endif %}
          {% for field in form %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{% if field.errors %}<i class="fa fa-times-circle-o"></i> {% endif %}{{ field.label }}</label>
            <div class="col-sm-10">
              {{ field }}
              {% for error in  field.errors %}
              <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <div class="box-footer">
            <button class="btn btn-primary" id="submit">Submit</button>
          </div>
        </div>
      </div><!-- form -->
      <div class="overlay" style="display: none" id="spinner">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div><!-- box -->
  </div><!-- col -->
</div><!-- row -->
{% endblock %}
{% block scripts %}
<script src="/static/js/jsencrypt.js"></script>
<script src="/static/js/aes.js"></script>
<script src="/static/js/csrf.js"></script>
<script type="text/javascript">
  function ajaxQueue(step, secret, groups, users, userDevices) {
    switch(step) {
      case 'start':
        if (groups.length > 0) {
          ajaxQueue('get_users', secret, groups, [], null);
        } else {
          // we just need a list of our own devices to update
          $.ajax({
            type: 'GET',
            url: '/api/userdevices/?user={{ request.user.id }}',
            dataType: 'json',
            success: function(data, status, jqXHR) {
              ajaxQueue('post_secretvalue', secret, null, null, data);
            },
            error: function(jqXHR, status) {
              alert('failed to look up device');
              ajaxQueue('fail');
            }
          });
        }
        break;
      case 'get_users':
        // get from each group and add to users until done
        var group = groups.pop();
        $.ajax({
          type: 'GET',
          url: '/api/secretgroups/' + group + '/',
          dataType: 'json',
          success: function(data, status, jqXHR) {
            secret.groups.push(data.url);
            users = users.concat(data.users);
            if (groups.length > 0) {
              ajaxQueue('get_users', secret, groups, users, null);
            } else {
              // de-dupe the user list
              uniqueUsers = users.filter(function(item, pos, self) {
                return self.indexOf(item) == pos;
              });
              users = uniqueUsers;
              ajaxQueue('get_userdevices', secret, null, users, []);
            }
          },
          error: function(jqXHR, status) {
            alert('failed to look up device');
            ajaxQueue('fail');
          }
        });
        break;
      case 'get_userdevices':
        // get from each user and add to devices until done
        var user = users.pop().split('/');
        user = user[user.length - 2];
        $.ajax({
          type: 'GET',
          url: '/api/userdevices/?user=' + user,
          dataType: 'json',
          success: function(data, status, jqXHR) {
            userDevices = userDevices.concat(data);
            if (users.length > 0) {
              ajaxQueue('get_userdevices', secret, null, users, userDevices);
            } else {
              ajaxQueue('post_secret', secret, null, null, userDevices);
            }
          },
          error: function(jqXHR, status) {
            alert('failed to look up device');
            ajaxQueue('fail');
          }
        });
        break;
      case 'post_secret':
        // We start by creating the master secret record
        $.ajax({
          type: 'POST',
          url: '/api/secrets/',
          data: JSON.stringify(secret),
          contentType: 'application/json',
          dataType: 'json',
          success: function(data, status, jqXHR) {
            ajaxQueue('post_secretvalue', data, null, null, userDevices);
          },
          error: function(jqXHR, status) {
            alert('failed to post secret');
            ajaxQueue('fail');
          }
        });
        break;
      case 'post_secretvalue':
        // Then we post the value for each device, until all are done
        var device = userDevices.pop();
        // Create the encryption object.
        var rsa = new JSEncrypt();

        // Set the private.
        rsa.setPublicKey(device.public_key);

        // Generate the AES key
        var key = CryptoJS.lib.WordArray.random(32);
        var iv = CryptoJS.lib.WordArray.random(32);
        var encrypted_key = rsa.encrypt(CryptoJS.enc.Hex.stringify(key));
        var encrypted_iv = rsa.encrypt(CryptoJS.enc.Hex.stringify(iv));

        // Get the input and crypted values.
        var encrypted_value = CryptoJS.AES.encrypt($('#{{ form.value.id_for_label }}').val(), key, { iv: iv }).toString();

        // add the secret
        var secretValue = {
          'secret': secret.url,
          'userdevice': device.url,
          'encrypted_key': encrypted_key,
          'encrypted_iv': encrypted_iv,
          'encrypted_value': encrypted_value,
          'is_active': true
        };
        $.ajax({
          type: 'POST',
          url: '/api/secretvalues/',
          data: secretValue,
          dataType: 'json',
          success: function(data, status, jqXHR) {
            if (userDevices.length > 0) {
              // still more devices, repeat
              ajaxQueue('post_secretvalue', secret, null, null, userDevices);
            } else {
              ajaxQueue('finish', secret);
            }
          },
          error: function(jqXHR, status) {
            alert('failed to post secret value');
            ajaxQueue('fail');
          }
        });
        break;
      case 'finish':
        window.location.replace(secret.id);
        break;
      case 'fail':
        $("#spinner").hide();
        break;
      default:
        alert('Queue error');
        $("#spinner").hide();
        break;
    }
  }
  $(function () {

    $("#submit").click(function(e) {
      $("#spinner").show();

      var groups = [];
      $('input[name=groups]:checked').each(function() {
        groups.push($(this).val());
      });
      var secret = {
        'label': $('#{{ form.label.id_for_label }}').val(),
        'groups': []
      };
      ajaxQueue('start', secret, groups);
    });
  });
</script>
{% endblock %}
