{% extends "base.html" %}
{% block content-header %}
<h1>
  Secret
  <small>{{ secret.label }}</small>
</h1>
<ol class="breadcrumb">
  <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">{{ secret.label }}</li>
</ol>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border"><h3 class="box-title">{{ secret.label }}</h3></div>
      <div class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="value" class="col-sm-2 control-label">Value</label>
            <div class="col-sm-8">
              <textarea id="value" placeholder="[ encrypted ]" rows="10" class="form-control"></textarea>
            </div>
            <div class="col-sm-2">
              <div class="btn-group">
                <button type="button" class="btn btn-info" id="decrypt">Decrypt</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Copy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- box -->
  </div><!-- col -->
</div><!-- row -->
{% endblock %}
{% block scripts %}
<script src="/static/js/jsencrypt.js"></script>
<script src="/static/js/aes.js"></script>
<script src="/static/js/secrets.js"></script>
<script type="text/javascript">
  $(function () {
    $("#decrypt").click(function(e) {
      $("#value").text(decryptSecret('{{ secretvalue.encrypted_value }}', localStorage['pk_u{{ request.user.id }}'], '{{ secretvalue.encrypted_key }}', '{{ secretvalue.encrypted_iv }}'));
    });
  });
</script>
{% endblock %}
